

.chat_container {
    width: 500px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.3);
    background-color: dodgerblue;
}

.chat_header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: firebrick; */;
}

.chat_header button {
    width: 100px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0, 0.7);
    height: 40px;
    color: white;
    cursor: pointer;
    /* margin: 10px; */
    margin-bottom: 5px;
    border-radius: 10px;
}



.chat_header input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 80%;
    margin-bottom: 5px;
}

.chat_header p {
    color: white;
    /* padding: 15px; */
    font-size: 30px;
}

.chat_body {
    flex: 1;
    color: white;
    /* background-color: rgb(0, 0, 0, 0.7); */
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 20px 30px;
    overflow-y: auto;

}

/* contains the message itself */
.message_box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 80%;
    margin-bottom: 15px;
}

.user_message_box {
    justify-content: flex-end;
    margin-left: auto;
}

/* message I receive */
.message {
    display: inline-block;
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-right: 10px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* message I send */
.user_message {
    display: inline-block;
    background-color: white;
    color: black;
    margin-left: 10px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.name_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0; 
    width: auto; 
}

.server_name, .user_name {
    padding: 10px;
    color: green;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.server_name {
    margin-right: 10px; 
}



.chat_footer form {
    display: flex
}

.chat_footer form input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}

.chat_footer form button, #submit_name {
    width: 100px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    height: 40px;
    color: white;
    cursor: pointer;
}

.chat_header button:hover {
    background-color: rgb(0, 0, 0, 0.5);
    transition: 0.2s ease;
}
.chat_footer form button:hover,
#submit_name:hover {
    background-color: rgb(0, 0, 255, 0.7);
    transition: 0.2s ease;
}



.user_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 20px;
}

.user_box form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_box label {
    margin-right: 10px;
    font-size: 1.2em;
}

.user_box input[type="text"], 
#answer_input input[type="text"]  {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}