
.memory_game {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    gap: 1rem;
    perspective: 1000px;
}

.memory_card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgb(0, 0, 0, 0.2) 0px 5px 15px;
}

.face, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    backface-visibility: hidden;
}

.togglCard{
    transform: rotateY(180deg);
}