@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Space+Grotesk&display=swap');




/* body {
    margin: 0;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/white_bg_2.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

header,
footer {
    background-color: black;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    padding: 10px;
} */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.user_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}

.user_box form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_box label {
    margin-right: 10px;
    font-size: 1.2em;
}

.user_box input[type="text"], 
#answer_input input[type="text"]  {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}



.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}


.highscore_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    margin: 20px;
    padding: 10px;
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
}

.highscore_box ul {
    list-style: none;
    padding: 10px;
    margin: 20px;
}

.highscore_box li {
    padding: 5px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    margin: 20px;
    padding: 10px;
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
}

.victory_box,
.loss_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'JetBrains Mono', monospace;
    margin: 20px;
    padding: 10px;
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
    }


.alt_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'JetBrains Mono', monospace;
    margin: 20px;
    padding: 10px;
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
}


.radio_container {
    display: flex;
    align-items: center; /* This will vertically align the radio and label */
}

.radio_container input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.radio_container label {
    cursor: pointer;
    display: inline-block; /* Keep it on the same line as the radio button */
    margin-right: 20px;
    color: #e4e9f5;
}


.box p, .box label, #timer p,
.highscore_box h1, .highscore_box ul li,
.box h1, .box h2,
.victory_box h1, .victory_box h2,
.loss_box h1 {
    margin-right: 20px;
    color: #e4e9f5;
}




/* got button styling from uiverse */


.button {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
.button:hover {
    color: black;
   }
   
.button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
.button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }


.hidden {
    display: none;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header, footer {
        font-size: 1em;
        padding: 5px;
    }

    .user_box label, .box p, .box label, #timer p, .highscore_box h1, .highscore_box ul li {
        font-size: 1em;
    }

    .user_box, .quiz, .highscore_box, .box {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
    }

    .button {
        width: 100%;
        font-size: 0.9em;
    }


    .alt_form label {
        font-size: 0.9em; 
        line-height: 1.2em; 
        word-break: break-word; 
    }

    .alt_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 300px; 
        overflow-y: auto; 
    }

    .hidden {
        display: none;
    }


    .user_box form {
        flex-direction: column; 
        align-items: center; 
    }

    .user_box label, 
    .user_box input[type="text"], 
    #submit_name {
        font-size: 0.9em; 
        margin-bottom: 10px;
    }

    .user_box input[type="text"] {
        width: 100%; 
    }

    #submit_name {
        width: 100%; 
    }

    .victory_box,
    .loss_box {
        margin: 10px;
        padding: 5px;
        border-width: 3px;
    }

    .victory_box h1, .victory_box h2,
    .loss_box h1 {
        font-size: 1.2em; 
        margin-right: 10px;
        color: #e4e9f5;
        padding: 4px;
    }


}

