@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Space+Grotesk&display=swap');


body {
    margin: 0;
    /* font-size: 20px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: url('../img/white_bg_2.png'); */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

header{
    background-color: black;
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
    padding: 10px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.footer_nav a {
    color: #2b2616;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}


.footer_nav li a {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
}


.footer_nav ul {
    clear: both;
    list-style-type: none;
    background-color: #e8be3f;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.footer_nav a:hover {
    background-color: #faf9f7;
}

.footer_nav li {
    float: left;
    padding: 5px;
}


footer {
    display: block;
    background-color: #e8be3f;
}

/**style the button*/

.button {
    background-color: #e8be3f;
    border: none;
    color: #2b2616;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'JetBrains Mono', monospace;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: #faf9f7;
}


.window {
    position: absolute;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    /* margin: 20px; */
}

.close_button img {
    border-radius: 50%;
    width: 40px;
}

.title-bar .close_button {
    background: none;
    border: none;
    cursor: pointer;
}

.title-bar {
    background-color: #eee;
    cursor: move;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    flex-grow: 1; 
    text-align: center; 
}

.close {
    float: right;
    cursor: pointer;
}

.content {
    padding: 10px;
}

.footer_nav img {
    width: 50px;
    height: 50px;
}






@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header, footer {
        font-size: 1em;
        padding: 5px;
    }
}